@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply theme-sunrise;
}

.theme-sunrise {
  --color-primary-DEFAULT: #e15b5b;
  --color-primary-50: #fdf6f6;
  --color-primary-100: #fae5e5;
  --color-primary-200: #f4c3c3;
  --color-primary-300: #eea0a0;
  --color-primary-400: #e87d7d;
  --color-primary-500: #e15b5b;
  --color-primary-600: #d92b2b;
  --color-primary-700: #ad1f1f;
  --color-primary-800: #7d1717;
  --color-primary-900: #4e0e0e;
}

.theme-ocean {
  --color-primary-DEFAULT: #3b82f6;
  --color-primary-50: #ebf2fe;
  --color-primary-100: #d7e6fd;
  --color-primary-200: #b0cdfb;
  --color-primary-300: #89b4fa;
  --color-primary-400: #629bf8;
  --color-primary-500: #3b82f6;
  --color-primary-600: #0b61ee;
  --color-primary-700: #084bb8;
  --color-primary-800: #063583;
  --color-primary-900: #041f4d;
}

.theme-grass {
  --color-primary-DEFAULT: #486f38;
  --color-primary-50: #8abb77;
  --color-primary-100: #7fb46a;
  --color-primary-200: #73ad5c;
  --color-primary-300: #60954b;
  --color-primary-400: #578844;
  --color-primary-500: #486f38;
  --color-primary-600: #466d37;
  --color-primary-700: #3d5f30;
  --color-primary-800: #345129;
  --color-primary-900: #2c4422;
}

.vis-timeline {
  @apply border-none !important;
}

.vis-item.vis-box {
  @apply border-transparent  !important;
  @apply bg-transparent  !important;
}

.vis-item.vis-dot,
.vis-item.vis-line {
  @apply border-black  !important;
  @apply bg-black  !important;
}

.vis-item .vis-item-content {
  @apply p-0  !important;
}

.vis-time-axis .vis-grid.vis-odd {
  @apply bg-transparent  !important;
}

.vis-grid.vis-vertical.vis-minor {
  @apply border-primary-50 !important;
}

.vis-grid.vis-vertical.vis-major {
  @apply border-primary-300 !important;
  @apply border-dotted  !important;
}

.vis-panel.vis-center {
  @apply border-none !important;
}

.vis-time-axis {
  border-top: 1px solid var(--color-primary-300) !important;
}

.vis-major {
  font-weight: bold;
}

.vis-current-time {
  z-index: 0 !important;
}

.pswp__caption {
  @apply absolute;
  @apply bottom-0;
  @apply left-0;
  @apply right-0;
}
