@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply theme-sunrise;
}

.theme-sunrise {
    --color-primary-DEFAULT: #E15B5B;
    --color-primary-50: #FDF6F6;
    --color-primary-100: #FAE5E5;
    --color-primary-200: #F4C3C3;
    --color-primary-300: #EEA0A0;
    --color-primary-400: #E87D7D;
    --color-primary-500: #E15B5B;
    --color-primary-600: #D92B2B;
    --color-primary-700: #AD1F1F;
    --color-primary-800: #7D1717;
    --color-primary-900: #4E0E0E;
}

.theme-ocean {
  --color-primary-DEFAULT: #3B82F6;
  --color-primary-50: #EBF2FE;
  --color-primary-100: #D7E6FD;
  --color-primary-200: #B0CDFB;
  --color-primary-300: #89B4FA;
  --color-primary-400: #629BF8;
  --color-primary-500: #3B82F6;
  --color-primary-600: #0B61EE;
  --color-primary-700: #084BB8;
  --color-primary-800: #063583;
  --color-primary-900: #041F4D;
}

.theme-grass {
  --color-primary-DEFAULT: #486F38;
  --color-primary-50: #8ABB77;
  --color-primary-100: #7FB46A;
  --color-primary-200: #73AD5C;
  --color-primary-300: #60954B;
  --color-primary-400: #578844;
  --color-primary-500: #486F38;
  --color-primary-600: #466D37;
  --color-primary-700: #3D5F30;
  --color-primary-800: #345129;
  --color-primary-900: #2C4422;
}

.vis-timeline {
  @apply border-none !important;
}

.vis-item.vis-box {
  @apply border-transparent  !important;
  @apply bg-transparent  !important;
}

.vis-item.vis-dot, .vis-item.vis-line {
  @apply border-black  !important;
  @apply bg-black  !important;
}

.vis-item .vis-item-content {
  @apply p-0  !important;
}

.vis-time-axis .vis-grid.vis-odd {
  @apply bg-transparent  !important;
}

.vis-grid.vis-vertical.vis-minor {
  @apply border-primary-50 !important;
}

.vis-grid.vis-vertical.vis-major {
  @apply border-primary-300 !important;
  @apply border-dotted  !important;
}

.vis-panel.vis-center {
  @apply border-none !important;
}

.vis-time-axis {
  border-top: 1px solid var(--color-primary-300) !important;
}

.vis-major {
  font-weight: bold;
}

.vis-current-time {
  z-index: 0 !important;
}

.pswp__caption {
 @apply absolute;
 @apply bottom-0;
 @apply left-0;
 @apply right-0;
}
